#captains-log {
  border: 1px solid;
  padding: 1rem;
  background: $main-background;
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  z-index: $content-z-index;

  header {
    display: flex;
    justify-content: space-between;
  }

  &-close {
    cursor: pointer;
    padding: 0 0 1rem 1rem;
  }
}