html {
  font-size: 22px;
  font-family: sans-serif;
}

body {
  background-attachment: fixed;
  background-image: url('./assets/star.svg'), linear-gradient(to bottom, #05007A, #4D007D);
  color: $body-color;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

hr {
  border: 1px solid;
  color: $body-color;
  margin: 1rem 0;
}

.emoji {
  height: 1em;
  transform: translateY(5px);
}